body, html {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --text-color: rgb(75, 243, 75);
  --bg-overlay: rgba(0,0,0,.5);
}

.title {
  color: white;
  background-color: aqua;
  z-index: 10;
  position: relative;
  top: 0;
  height: 2em;
  width: 100vw;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-just-center {
  justify-content: center;
}

.flex-align-mid {
  align-items: center;
}

.scroll-div {
  height: 100vh;
}

.info-div {
  color:var(--text-color);
  position: relative;
  top: 40px;
  z-index: 10;
}

.slight-shade {
  box-shadow: 0 0 2em 1em var(--bg-overlay);
  background-color: var(--bg-overlay);
}

.text-shadow {
  text-shadow: 0 0 1em, 0 0 2em;
}

.placeholder {
  height: 25vh;
}

.perspective {
  perspective: 400px;
}

.star-war {
  transform: rotateY(45deg);
}